DOCKER_NETWORK=media
PUID=1000
PGID=1000
TZ=Europe/Bucharest
CONFIG_ROOT=/home/alexandrung/docker/config
DATA_ROOT=/mnt/media

# Get a fresh token from https://plex.tv/claim (valid 4 minutes, one-time use)
PLEX_CLAIM=
PLEX_HOSTNAME=fedora-media
